body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
  }

p {font-size: 16px;}

canvas {
  width: 100vw;
  height: 90vh;
  display: block;
  background: url(./stars.jpg) no-repeat center center;
  background-size: cover;
}

/* #FEC200 */

.downarrow {
  background-color: black;
  height: 10vh;
}

html { scroll-behavior: smooth;}