body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
  }

p {font-size: 16px;}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
 /* background: url(./stars.jpg) no-repeat center center;
  background-size: cover;*/
}

/* #FEC200 */

#downarrow {
/*  background-color: #FEC200; */
  height: 10vh;
  position: absolute;
  top: 90vh;
  width: 100vw;
  text-align: center;
  z-index: 100;
  display:block;
}

html { scroll-behavior: smooth;}

#aboutme {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vw;
}

body {
  background: url(./stars.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}